<div class="mt-4">
    <h2>Sửa khóa học</h2>
    <form method="POST" action="/khoa-hoc/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="description">Mô tả: </label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>

        </div>
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">

        </div>
        <div class="form-group">
            <label for="description">videoId: </label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>

        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>

