<div class="mt-4">
    <form >
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" name="name" class="form-control" aria-describedby="emailHelp"
                placeholder="Nhập từ khóa...">
            <input type="text" name="q" class="form-control" aria-describedby="emailHelp"
                placeholder="Nhập từ khóa...">
            </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>